Crypto
pycrypto
pymongo
urllib3
tweepy
simplejson
nltk
numpy
pytest
coveralls
python-dateutil
PySocks
pyopenssl
ndg-httpsclient
pyasn1
requests_oauthlib
requests
boto3
awscli
line_profiler
networkx
elastic2-doc-manager
mongo-connector
msgpack-python
kafka-python