extends ../layout

block content
    br
    h1.center Search
    div
        div
            input#search-bar(type='text', name='searchbar' placeholder='Search Terms')
        div
            button(onclick='goToSearchTerm()') Search
                script.
                    function goToSearchTerm() {
                        var value = document.getElementById("search-bar").value
                        window.location = "http://sportscanary.com/search?category=" + value;
                    }
    br
