extends ../layout

block content
    br
    h1.center Search
    div
        div
            input#search-bar(type='text', name='searchbar' placeholder="Search Terms")
        div
            button#search-button(class="btn", data-action="bea").
                Search
    br
