.results-card-outer {
    background-color: #f8215a;
}
.results-card-inner {
    background-color: #868686;
}

.sport-logo {

}
.team-1-card {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
}

.team-2-card {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
}
.team-icon {
    height:200px;
    width:200px;
    margin: 20px 20px 20px 20px;
    display: inline-flex;
}
/*.team-type {*/
    /**/
/*}*/
.team-name {
    text-align: center;
    display: block;
}
.team-score {
    text-align: center;
    display: block;
    font-size: 40px;
}

.programmer-team-image {
    height: 200px;
    width: 200px;
}
.sport-type {
    text-transform: uppercase;
}