body {
  background-color: #E0E0E0;
}

.navbar-brand {
  padding: 7px 15px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}
#search-bar-home {
}
.main-image {
    height: 340px;
    width: 770px;
}
#search-bar {
    background-color: rgba(47, 255, 247, 0.22);
}
#search-button {
    height:40px;
    width:120px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}
