body {
  background-color: #E0E0E0;
  padding-top: 60px;
}

.navbar-brand {
  padding: 7px 15px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.main-image {
  height: 340px;
  width: 770px;
}
#search-bar {
  background-color: white;
  border-bottom: 3px solid white;
}

#search-bar:focus {
  background-color: white;
  border-bottom: 3px solid #00b0ff;
}

#search-bar-home {
  border-bottom: 3px solid white;
  color: #000000;
}

#search-bar-home:focus {
  border-bottom: 3px solid #00b0ff;
}

#search-button {
  height:40px;
  width:120px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-15%);
}

.parent {
  display: table;
}

.child {
  display: table-cell;
  vertical-align: middle;
}