extends ../layout

block content
  br
  .container
    #team.section.scrollspy
      .row
        h2.header.light-blue-text.accent-3 Contact Information
        h5.caption
            .row
              i.small.material-icons email
              span  contact@sportscanary.com 
              br
              br
              a.twitter-follow-button(href='https://twitter.com/SportsCanary', data-show-count='false', data-size='large') Follow @SportsCanary
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        br
        h2.header.light-blue-text.accent-3 Meet our Team
        h5.caption We are a team of students from the University of Colorado at Boulder. 
      br
      .row
        .col.s12.m3.center-on-small-only
          .image-container
            img(src='images/team/notfound.jpg')
        .col.s12.m9
          h4 Frederik Lohner
          p
            | About FL.
      .row
        .col.s12.m3.center-on-small-only
          .image-container
            img(src='images/team/notfound.jpg')
        .col.s12.m9
          h4 Athithyaapanchapakesa
          p
              | About A.
       .row
        .col.s12.m3.center-on-small-only
          .image-container
            img(src='images/team/notfound.jpg')
        .col.s12.m9
          h4 Juan Carlos Herrera
          p
            | About JCH.
       .row
        .col.s12.m3.center-on-small-only
          .image-container
            img(src='images/team/notfound.jpg')
        .col.s12.m9
          h4 Daniel Maxson
          p
              | About DM.
       .row
        .col.s12.m3.center-on-small-only
          .image-container
            img(src='images/team/notfound.jpg')
        .col.s12.m9
          h4 Shyamsundar Ramamoorthy
          p
              | About SR.
  
