extends ../layout

block content

    #wrapper
    #hero
      .header
        .container
            .row
              .col.m5.s12
                h1.light-blue-text.accent-3
                  | More about us
                p.white-text
                  | Sports Canary attempts to generate wagering odds based on the wisdom of the crowds.  In 1906 statistician
                  |Francis Galton observed that when asking a crowd to estimate the weight of a slaughtered ox, the median guess was
                  |within 1% of the true weight. Ever since, cognitive scientists have been researching
                  |this phenomenon.  Sports Canary utilizes Twitter as the crowd to generate gambling odds, with
                  |Galton's discovery in mind.  So far we support NHL, MLB and NBA games and plan to expand to other
                  major televised sports - and possibly even presidential elections across the world.
                
              .col.m6.s11.offset-s1.offset-m1.center-align.multi-device-mockup
                img(src='/images/home/main.png', alt='SportsCanary - Homepage image')
    section#about-map
      .center
        img(src='/images/sportscanary/about-sc.png', alt='SportsCanary - Homepage image', height='676.07', width='996.42')
