extends ../layout

block content

    #wrapper
    #hero
      .header
        .container
            .row
              .col.m5.s12
                h1.light-blue-text.accent-3
                  | More about us
                p.white-text
                  | Sports Canary attempts to predict the outcome of sports matches with Big Data. We ...
                
              .col.m6.s11.offset-s1.offset-m1.center-align.multi-device-mockup
                img(src='images/home/main.png', alt='SportsCanary - Homepage image')
  
