extends ../layout

block content
  script(src='../js/logos.js')
  br
  h1.center Welcome to Sports Canary!
  br
  img(src='images/nba_logos/Dallas_Mavericks.jpg', alt='Mountain View', style='width:304px;height:228px;')
