extends ../layout
link(rel='stylesheet', href='/components/c3/c3.min.css')
script(src='/components/d3/d3.min.js', type='text/javascript')
script(src='/components/c3/c3.min.js', type='text/javascript')
script(src='../js/logos.js', type='text/javascript')
block content
  #wrapper
    #hero-kobe
    section#Kobe1
      .container.center
        h3.header.light-blue-text.accent-3 Stats
               div.row
                 div.col.s12
                   div.card-panel.z-depth-2
                     span.black-text
                      #chartDiv
                          script.
                            var chartData={
                            "type":"bar",  // TYPES: area, bar, scatter, radar, range, wordcloud,  bubble... more info on: http://www.zingchart.com/docs/chart-types/
                            "series":[  // Data for the Graph
                            { "values": [0,0.109546879,0.163931854,0.133940009,0.272104345,0.308762237]},
                            { "values": [1,0.108786467,0.165643401,0.13009889,0.257534686,0.330060362]},
                            { "values": [2,0.114596114,0.172179421,0.12690355,0.239876541,0.333748542]},
                            { "values": [3,0.110926893,0.174420744,0.135704382,0.21971498,0.342938219]},
                            { "values": [4,0.112576894,0.180449034,0.116823702,0.236900122,0.332795177]},
                            { "values": [5,0.112010408,0.170339053,0.132205055,0.215504077,0.34969555]},
                            { "values": [6,0.114065415,0.172007724,0.127362161,0.230509748,0.331021911]},
                            { "values": [7,0.117543765,0.179675997,0.13804849,0.226595504,0.31480666]},
                            { "values": [8,0.116247587,0.183464986,0.127993472,0.221865267,0.322002518]},
                            { "values": [9,0.119778442,0.180799017,0.137390694,0.214631086,0.321844082]},
                            { "values": [10,0.116492508,0.171255533,0.133019394,0.197470774,0.348314034]},
                            { "values": [11,0.117153978,0.190654241,0.130133853,0.227447364,0.306722435]},
                            { "values": [12,0.113557688,0.181290556,0.140035111,0.215366042,0.321159181]},
                            { "values": [13,0.117190051,0.183733062,0.127278061,0.218679952,0.319113793]},
                            { "values": [14,0.111835097,0.17810254,0.138976698,0.227624573,0.314377158]},
                            { "values": [15,0.114741675,0.195784288,0.122646435,0.217397166,0.30671752]},
                            { "values": [16,0.117611604,0.197193194,0.126671703,0.20055764,0.321934708]},
                            { "values": [17,0.115734228,0.197549429,0.134607186,0.208713993,0.30790142]},
                            { "values": [18,0.123208624,0.1939571,0.121727809,0.205607269,0.312949887]},
                            { "values": [19,0.121588818,0.196825101,0.135841592,0.206512844,0.314191896]},
                            { "values": [20,0.118910484,0.188083977,0.14002739,0.210669294,0.315846664]},
                            { "values": [21,0.120409932,0.185189594,0.144150919,0.214315742,0.304585402]},
                            { "values": [22,0.123360301,0.187428041,0.142692698,0.208530989,0.296968793]},
                            { "values": [23,0.12347291,0.179476031,0.152942215,0.215249753,0.287090581]},
                            { "values": [24,0.130145256,0.169339969,0.163823129,0.212657649,0.284060462]},
                            { "values": [25,0.127572807,0.189388535,0.150283851,0.221573392,0.271925488]},
                            { "values": [26,0.123570934,0.172528331,0.168234408,0.209574227,0.287121469]},
                            { "values": [27,0.122322419,0.185746858,0.158464624,0.206209509,0.290460726]},
                            { "values": [28,0.123370914,0.194448549,0.147809893,0.207523688,0.290361948]},
                            { "values": [29,0.123162266,0.197740449,0.153973126,0.19625123,0.295258813]},
                            { "values": [30,0.122268679,0.20189342,0.140569256,0.196770916,0.302730026]},
                            { "values": [31,0.130207368,0.20631304,0.135485594,0.190372942,0.293907583]},
                            { "values": [32,0.125579036,0.216425597,0.134069183,0.187570265,0.296105595]},
                            { "values": [33,0.124245923,0.203437975,0.131195664,0.19822468,0.30092322]},
                            { "values": [34,0.127266545,0.203093785,0.135294825,0.194772966,0.303172469]},
                            { "values": [35,0.118726209,0.194518086,0.134487616,0.202472627,0.300584188]},
                            { "values": [36,0.119678232,0.187084789,0.135634374,0.287133694,0.262015751]},
                            { "values": [37,0.117187351,0.185291304,0.13550331,0.247069426,0.279070692]},
                            { "values": [38,0.121891193,0.180533949,0.160824497,0.270729019,0.246535522]},
                            { "values": [39,0.127984581,0.184507667,0.150844882,0.256624115,0.254847274]},
                            { "values": [40,0.120997796,0.18154746,0.168375372,0.252411492,0.251664079]},
                            { "values": [41,0.132247943,0.173863151,0.180887065,0.26818511,0.231687028]},
                            { "values": [42,0.129061133,0.183569226,0.162710871,0.250210604,0.244367418]},
                            { "values": [43,0.129563264,0.176850799,0.171178549,0.234547895,0.252082336]},
                            { "values": [44,0.127879965,0.180779436,0.15623671,0.246435302,0.254016476]},
                            { "values": [45,0.12152761,0.191856093,0.159917375,0.226960532,0.262287241]},
                            { "values": [46,0.12621921,0.179944142,0.161646844,0.227825872,0.269503998]},
                            { "values": [47,0.116455948,0.180275893,0.157517664,0.241478956,0.268066122]},
                            { "values": [48,0.124062185,0.173081394,0.15826433,0.232345176,0.280812769]},
                            { "values": [49,0.11878052,0.187873856,0.151583929,0.226688503,0.278054695]},
                            { "values": [50,0.116698881,0.168516982,0.159365275,0.259247791,0.267871371]},
                            { "values": [51,0.119716577,0.185969427,0.158517764,0.241843326,0.262623838]},
                            { "values": [52,0.121365999,0.17629596,0.147599376,0.243199777,0.281774867]},
                            { "values": [53,0.12027548,0.177447521,0.152504545,0.22954384,0.283654353]},
                            { "values": [54,0.122168309,0.181659332,0.151097685,0.227240425,0.282040219]},
                            { "values": [55,0.12174839,0.180389463,0.149668354,0.22122389,0.28429966]},
                            { "values": [56,0.120061408,0.181939579,0.147430394,0.223172108,0.286911257]},
                            { "values": [57,0.122107249,0.178459703,0.139876579,0.217339868,0.30605303]},
                            { "values": [58,0.115192227,0.183423238,0.150501412,0.214828556,0.30675807]},
                            { "values": [59,0.121775914,0.18418059,0.140547511,0.222984293,0.294759492]},
                            { "values": [60,0.118484018,0.192349973,0.136145439,0.230036757,0.291405037]},
                            { "values": [61,0.116004882,0.180508289,0.130074015,0.241950367,0.291686764]},
                            { "values": [62,0.119403439,0.18090245,0.13987636,0.230049153,0.288755623]},
                            { "values": [63,0.118210709,0.191701945,0.137585204,0.219624334,0.30115452]},
                            { "values": [64,0.125068011,0.192853623,0.131240345,0.210126787,0.303421656]},
                            { "values": [65,0.117341382,0.187794731,0.130602243,0.228404486,0.309224714]},
                            { "values": [66,0.121755085,0.184105837,0.139877355,0.241780739,0.276813092]},
                            { "values": [67,0.122237155,0.187617525,0.142965216,0.230799466,0.2929648]},
                            { "values": [68,0.121595394,0.19123724,0.161187332,0.232249099,0.265860226]},
                            { "values": [69,0.121025543,0.192155899,0.148490562,0.22386744,0.277926495]},
                            { "values": [70,0.123181221,0.192005576,0.14260148,0.217119244,0.287972899]},
                            { "values": [71,0.115263898,0.190745686,0.133597744,0.239935108,0.294181487]},
                            { "values": [72,0.124940118,0.191706122,0.143775103,0.23798796,0.273761977]},
                            { "values": [73,0.124047136,0.194981419,0.138663562,0.23371383,0.277988184]},
                            { "values": [74,0.116695607,0.192853733,0.131540039,0.236811705,0.292874062]},
                            { "values": [75,0.12297014,0.181634745,0.142130134,0.221973037,0.291078426]},
                            { "values": [76,0.114978633,0.185207284,0.14213252,0.235352925,0.28352533]},
                            { "values": [77,0.123361304,0.195062092,0.131567841,0.228364204,0.279010652]},
                            { "values": [78,0.119517418,0.19397365,0.129619082,0.232519361,0.285656357]},
                            { "values": [79,0.11906717,0.19639357,0.125029409,0.237603587,0.277399861]},
                            { "values": [80,0.116914616,0.186952646,0.132798945,0.240388825,0.282000716]},
                            { "values": [81,0.127688479,0.19257175,0.131514009,0.224988937,0.289550305]},
                            { "values": [82,0.121366467,0.19922968,0.136242397,0.211115161,0.299197125]},
                            { "values": [83,0.117028864,0.196653463,0.124746723,0.227511694,0.306378625]},
                            { "values": [84,0.115334992,0.189987124,0.134903079,0.227092939,0.301817594]},
                            { "values": [85,0.117783921,0.18862207,0.132081659,0.226289731,0.302581335]},
                            { "values": [86,0.118446029,0.183891811,0.132513448,0.226938146,0.304417304]},
                            { "values": [87,0.115724747,0.186357036,0.134471745,0.244160856,0.286781045]},
                            { "values": [88,0.120355957,0.188203309,0.140255428,0.246475366,0.279303179]},
                            { "values": [89,0.11899065,0.181567386,0.150768684,0.246885778,0.271774852]},
                            { "values": [90,0.112002974,0.175833144,0.151131645,0.263017352,0.280214183]},
                            { "values": [91,0.116613279,0.170094362,0.13874045,0.25270487,0.283227303]},
                            { "values": [92,0.115531832,0.182790729,0.138788221,0.241744616,0.285902073]},
                            { "values": [93,0.125296959,0.17769549,0.135766811,0.242415201,0.290700909]},
                            { "values": [94,0.126168664,0.182479373,0.132264549,0.237625209,0.28625903]},
                            { "values": [95,0.137945023,0.192067279,0.136944307,0.21834674,0.277605666]},
                            { "values": [96,0.124569727,0.190180306,0.136318414,0.225836257,0.285485149]},
                            { "values": [97,0.123993268,0.190423273,0.132769714,0.24837959,0.274779742]},
                            { "values": [98,0.122887815,0.185278281,0.133757175,0.246320959,0.280227329]},
                            { "values": [99,0.111596038,0.170635583,0.150791058,0.26430604,0.276482923]},
                            { "values": [100,0.116299383,0.177697098,0.137554294,0.263196631,0.27832965]},
                            { "values": [101,0.118049275,0.168571461,0.146634407,0.251615304,0.279398569]},
                            { "values": [102,0.114675245,0.168794162,0.14707306,0.244725359,0.297214954]},
                            { "values": [103,0.132411237,0.185152382,0.140470911,0.248186376,0.277338372]},
                            { "values": [104,0.12814273,0.171828721,0.149030271,0.260496996,0.262848432]},
                            { "values": [105,0.120702945,0.170822148,0.143689805,0.265908319,0.268939541]},
                            { "values": [106,0.126745154,0.176172088,0.159187648,0.245201676,0.264976323]},
                            { "values": [107,0.122631045,0.181822653,0.150073345,0.253333552,0.257187852]},
                            { "values": [108,0.124002215,0.17849003,0.145110002,0.254227296,0.257890484]},
                            { "values": [109,0.140463108,0.186132202,0.122470197,0.25996413,0.254172774]},
                            { "values": [110,0.146306569,0.197464185,0.124925597,0.225547955,0.266822936]},
                            { "values": [111,0.134896841,0.182032845,0.135296285,0.249872947,0.265758055]},
                            { "values": [112,0.12873953,0.178746369,0.128933261,0.247001724,0.282181214]},
                            { "values": [113,0.130500836,0.176126157,0.129133387,0.257620148,0.272735119]},
                            { "values": [114,0.131689923,0.187845809,0.141077813,0.252526311,0.253358947]},
                            { "values": [115,0.128855522,0.181568387,0.139652139,0.240040571,0.270515289]},
                            { "values": [116,0.130738281,0.179159151,0.142090307,0.231515247,0.27872456]},
                            { "values": [117,0.133694825,0.1935511,0.134620497,0.21340588,0.284998902]},
                            { "values": [118,0.126263559,0.190922982,0.144553297,0.21450573,0.281017146]},
                            { "values": [119,0.136837664,0.179180937,0.134004672,0.247978892,0.265233294]},
                            { "values": [120,0.133229374,0.180841069,0.13984784,0.244945151,0.26377605]},
                            { "values": [121,0.129184917,0.177962236,0.128736209,0.258289518,0.267217995]},
                            { "values": [122,0.126977578,0.173918112,0.144001783,0.271062438,0.258239534]},
                            { "values": [123,0.137940759,0.182125484,0.170246887,0.272509775,0.225208329]},
                            { "values": [124,0.124779079,0.182763101,0.158224558,0.273809906,0.246311886]},
                            { "values": [125,0.13405474,0.179853666,0.165524013,0.297711055,0.226586257]},
                            { "values": [126,0.129996928,0.189249818,0.162279111,0.28159683,0.23328691]},
                            { "values": [127,0.131647013,0.184637413,0.149701401,0.258487139,0.244769391]},
                            { "values": [128,0.127244541,0.184481046,0.15105098,0.267162365,0.240509443]},
                            { "values": [129,0.13691949,0.187342676,0.139147116,0.265739779,0.242671672]},
                            { "values": [130,0.130576926,0.17592804,0.135407077,0.280263562,0.257866828]},
                            { "values": [131,0.127153624,0.175998386,0.129283185,0.281289678,0.264646733]},
                            { "values": [132,0.120293575,0.166531577,0.13279075,0.284012518,0.272133196]},
                            { "values": [133,0.116682849,0.163578813,0.128581175,0.29388598,0.275533332]},
                            { "values": [134,0.121305957,0.165894298,0.121958971,0.290394818,0.276765524]},
                            { "values": [135,0.123867485,0.177699201,0.126578505,0.275838309,0.273450344]},
                            { "values": [136,0.123598236,0.173259839,0.125718601,0.289287108,0.261033483]},
                            { "values": [137,0.127094052,0.172233521,0.12899732,0.261493198,0.274976362]},
                            { "values": [138,0.122646525,0.179521882,0.131028996,0.261483853,0.273238412]},
                            { "values": [139,0.118209574,0.175079201,0.120534044,0.270833061,0.291978493]},
                            { "values": [140,0.111595664,0.178204827,0.125160658,0.272673847,0.282771533]},
                            { "values": [141,0.11706817,0.179859525,0.131662113,0.26727492,0.273705796]},
                            { "values": [142,0.113261487,0.178557889,0.128337574,0.268260314,0.284693742]},
                            { "values": [143,0.119924594,0.180572568,0.129107907,0.260044151,0.282542145]},
                            { "values": [144,0.11951374,0.18513038,0.133649721,0.261806172,0.273704045]},
                            { "values": [145,0.119384723,0.173065079,0.129298365,0.26151535,0.284727318]},
                            { "values": [146,0.114475041,0.180820338,0.128579696,0.262849498,0.280127479]},
                            { "values": [147,0.114003693,0.174436024,0.130893597,0.254100867,0.290537359]},
                            { "values": [148,0.119600812,0.176006398,0.133154451,0.25942681,0.277766984]},
                            { "values": [149,0.120051907,0.171277824,0.127276332,0.257375515,0.283508629]},
                            { "values": [150,0.117930574,0.181834975,0.129057381,0.260530977,0.275662371]},
                            { "values": [151,0.119785687,0.18790669,0.124602265,0.253276957,0.275131675]},
                            { "values": [152,0.115028662,0.180971815,0.130670914,0.264953621,0.273946756]},
                            { "values": [153,0.108858561,0.178859254,0.132434423,0.254183222,0.291873005]},
                            { "values": [154,0.114488242,0.183580364,0.133154078,0.262475015,0.27384967]},
                            { "values": [155,0.114458228,0.184076547,0.13557698,0.258735281,0.270529198]},
                            { "values": [156,0.114830649,0.184433071,0.135253624,0.253608343,0.275029377]}
                            ]
                            };

                            zingchart.render({ // Render the Chart
                            id:'chartDiv',
                            data:chartData,
                            height:400,
                            width:600
                            });
                        
    section#Kobe2
    
