extends ../layout
link(rel='stylesheet', href='/components/c3/c3.min.css')
script(src='/components/d3/d3.min.js', type='text/javascript')
script(src='/components/c3/c3.min.js', type='text/javascript')
script(src='../js/logos.min.js', type='text/javascript')
block content
  br
  - each result, i in results
          .container.center
               .row
                 .col.s6.m4.l8
                   .card-panel
                     span.black-text
                       b= result.sport_type
                       //- b.team-type
                       //- = result.sport_type
                       b.team-name
                       = result.event_name
                     .row
                       .col.s5
                           .col
                             img.circle.responsive-img(src='images/nba_logos/denver-nuggets.png', alt='Denver Nuggets')
                           .col.right
                             span.black-text
                               | 
                               br
                               br
                               b Score 
                               b.team-score
                               = result.score_1
                               br
                               br
                               b Win (%)
                               br
                               = result.team_1_percentage_win
                               br
                         .col.s2
                           span.black-text
                            br
                            br
                            h5.b vs
                         .col.s5
                       .col.left
                         span.black-text
                               | 
                               br
                               br
                               b Score
                               b.team-score
                               = result.score_2
                               br
                               br
                               b Win (%)
                               br
                               = result.team_2_percentage_win
                               br
                        .col
                         img.circle.responsive-img(src='images/nba_logos/toronto-raptors.png', alt='Golden State Warriors')
                     br
                     span.black-text.right
                       b Last updated: 
                       b.team-date
                       = result.event_date 

  br

