extends ../layout

block content
  link(rel='stylesheet', href='/components/c3/c3.min.css')
  script(src='/components/d3/d3.min.js', type='text/javascript')
  script(src='/components/c3/c3.min.js', type='text/javascript')
  script(src='../js/logos.min.js', type='text/javascript')
    br
  - each result, i in results
          .container
               .row
                 .col.s12
                   .card-panel
                     span.black-text
                       b NBA
                       b.team-name
                       = result.event_name
                     .row
                       .col.s6
                           .col
                             img.circle.responsive-img.team-icon(src='images/nba_logos/Denver_Nuggets.jpg', alt='Denver Nuggets')
                           .col
                             span.black-text
                               | 
                               br
                               br
                               b Score 
                               b.team-score
                               = result.score_1
                               br
                               br
                               b Spread
                               | +2
                               br
                         .col.s6
                       .col
                         img.circle.responsive-img.team-icon(src='images/nba_logos/Goldenstate_Warriors.jpg', alt='Golden State Warriors')
                       .col
                         span.black-text
                               | 
                               br
                               br
                               b Score
                               b.team-score
                               = result.score_2
                               br
                               br
                               b Spread
                               | -2
                               br
                     img(src='images/sports/graph.jpg', alt='')
                     #chart
                     br
                     span.black-text.right
                       b Last updated: 
                       b.team-date
                       = result.event_date

  br
