doctype html
html
  head
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    footer.page-footer.light-blue.accent-3
      .container
        .row
          .col.l6.s12
            h5.white-text Footer Content
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Home
              li
                a.grey-text.text-lighten-3(href='#!') Sports
              li
                a.grey-text.text-lighten-3(href='#!') About
              li
                a.grey-text.text-lighten-3(href='#!') Contact
      .footer-copyright
        .container
          | Copyright © 2016 SportsCanary 
          a.grey-text.text-lighten-4.right(href='#!') More Links
    block content