extends layout
block content
  #wrapper
    #hero
      .header
        .container
            .row
              .col.m5.s12
                h1.light-blue-text.accent-3
                  | Prediction Stats
                p.white-text
                  .row
                    .col.m7.s12
                      .card-panel.light-blue.accent-3
                        span.white-text
                          | Tweets Analyzed: 
                          b.white-text.
                          | 1,938,781
                          br
                          br
                          | NBA Games: 40
                          br
                          b.white-text
                          | Correctly Predicted: 65%
                          br
                          | MLB Games: 109
                          br
                          b.white-text
                          | Correctly Predicted: 46.7%
                          br
                          | NHL Games: 25
                          br
                          b.white-text
                          | Correctly Predicted: 50%
                          br 
                          br
                          | Total Predictions: 174
                          br
                          b.white-text
                            | Total Correct Predictions: 51.46%

              .col.m6.s11.offset-m1.offset-s1.center-align.multi-device-mockup
                img(src='images/home/main.png', alt='SportsCanary - Homepage image')                
                br
                br
                br
                br

                div
                  div.col.m8
                    input#search-bar-home(type='text', name='searchbar' placeholder='Start Searching for Sports Matches Here!' class='white-text')
                  div
                    button.btn-large.waves-effect.waves-light.light-blue.accent-3(onclick='goToSearchTerm()', type='submit', name='action')
                      | Search
                      i.material-icons.right search
                      script.
                        function goToSearchTerm() {
                          var value = document.getElementById("search-bar-home").value
                          window.location = "http://sportscanary.com/search?category=" + value;
                        }
    section#NBA
      include card-matchup-nba.jade
    section#NHL
      include card-matchup-nhl.jade
    section#MLB
      include card-matchup-mlb.jade