extends layout
block content
  #wrapper
    #hero
      .header
            .row
              .col.m5.s5.offset-m1
                h1.light-blue-text.accent-3
                  | Prediction Stats
                h4.white-text
                  | Tweets Analyzed:
                  #odometer.odometer.light-blue-text.accent-3
                h4.white-text
                  |Correct NBA Games: 
                  #odometer3.odometer.light-blue-text.accent-3
                  | %
                h4.white-text
                  |Correct MLB Games: 
                  #odometer2.odometer.light-blue-text.accent-3
                  | %
                h4.white-text
                  |Correct NHL Games: 
                  #odometer4.odometer.light-blue-text.accent-3
                  | %
              .col.m5.s5.center-align.multi-device-mockup
                img(src='images/home/main.png', alt='SportsCanary - Homepage image')
                //- Need to fix image before using responsive class --> img.img-responsive.main-image(src='images/home/main.png', alt='SportsCanary - Homepage image',)
                br
                br
                br
                br
    section#search-home
      div.container
        br
        .row.card-panel.grey.z-depth-2
          .col.m5.s5.offset-m3
            input#search-bar-home(type='text', name='searchbar' placeholder=' Start Searching for Sports Matches Here!' class='white-text' 
                                  onkeydown = "if (event.keyCode == 13) document.getElementById('search_button').click()")
          .col.m2.s2
            button.btn-large.waves-effect.waves-light.light-blue.accent-3(onclick='goToSearchTerm()', type='submit', name='action' id="search_button")
              | Search
              i.material-icons.right search
              script.
                function goToSearchTerm() {
                  var value = document.getElementById("search-bar-home").value
                  window.location = "http://sportscanary.com/search?category=" + value;
                }
        br
    section#NBA
      include card-matchup-nba.jade
    section#NHL
      include card-matchup-nhl.jade
    section#MLB
      include card-matchup-mlb.jade