extends layout
block content
  #wrapper
    #hero
      .header
        .container
            .row
              .col.m5.s12
                h1.light-blue-text.accent-3
                  | Prediction Stats
                p.white-text
                  .row
                    .col.s12.m7
                      .card-panel.light-blue.darken-4
                        span.white-text
                          | Tweets Analyzed: 1,938,781
                          br
                          br
                          | NBA Games: 40
                          br
                          b.green-text
                            | Correctly Predicted: 65%
                          br
                          | MLB Games: 109
                          br
                          b.green-text
                            | Correctly Predicted: 46.7%
                          br
                          | NHL Games: 25
                          br
                          b.green-text
                            | Correctly Predicted: 50%
                          br 
                          br
                          | Total Predictions: 174
                          br
                          b.green-text
                            | Total Correct Predictions: 51.46%
                div
                  div
                    input#search-bar-home(type='text', name='searchbar' placeholder='Start Searching for Sports Matches Here!' class='white-text')
                  div
                    button.btn.waves-effect.waves-light(onclick='goToSearchTerm()', type='submit', name='action')
                      | Search
                      i.material-icons.right send
                      script.
                        function goToSearchTerm() {
                          var value = document.getElementById("search-bar-home").value
                          window.location = "http://sportscanary.com/search?category=" + value;
                        }

              .col.m6.s11.offset-s1.offset-m1.center-align.multi-device-mockup
                img(src='images/home/main.png', alt='SportsCanary - Homepage image')
                //- Need to fix image before using responsive class --> img.img-responsive.main-image(src='images/home/main.png', alt='SportsCanary - Homepage image',)
    section#NBA
      include card-matchup-nba.jade
    section#NHL
      include card-matchup-nhl.jade
    section#MLB
      include card-matchup-mlb.jade

                           